.header{
    
    display: inline-block;
    background-color: white;
    padding: 0px 0px 15px 80px;
    height: 30px;
}
#iconsheight{
    height: 30px;
    width: 135px;
    display: inline-block;
}
#headalign{
    margin: 0px 0px 0px 1px;
    height: 28px;
    width: 293px;
    
}
.icons{
    display: inline-block;
    padding: 0px 0px 0px 5px;
}

#search{
    padding: 0px 0px 0px 250px;
    
}
#heading{
    padding: 0px 0px 0px 10px;
   
}
.menu{
    height: 30px;
    padding: 5px 60px 5px 60px;
}

.menu-items{
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

.main{
    height: 350px;
    padding: 0px 20px 0px 20px;
    position: relative;
}

.uppertext{
    position: absolute;
    top: 60px;
    left: 60px;
    color: orangered;
    text-decoration: underline;
}
.bottomtext{
    position: absolute;
    top: 140px;
    left: 60px;
    font-size: 1.1pc;
   /* color: firebrick; */
   color: magenta;
}
.box1{
    position: absolute;
   background-color: cornflowerblue;
   top: 180px;
   left: 80px;
   font-size: 1.15pc;
}

.box2{
    position: absolute;
    background-color: white;
    top: 180px;
    left: 210px;
    font-size: 1.15pc;
}

.maincontainer{
    height: 300px;
}
.Childb{
    display: inline-block;
    height: 100px;
    width: 200px;
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 0px 30px 0px 30px;
    font-size: 1pc;

}
.Romb{
    display: inline-block;
    height: 100px;
    width: 200px;
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 0px 30px 0px 30px;
    font-size: 1pc;

}
.Artb{
    display: inline-block;
    height: 100px;
    width: 200px;
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 0px 30px 0px 30px;
    font-size: 1pc;

}
.Hisb{
    display: inline-block;
    height: 100px;
    width: 200px;
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 0px 30px 0px 30px;
    font-size: 1pc;

}
#imgcol{
    padding: 35px 0px 0px 0px;
}
#textal{
    text-align: center;
}

.footer{
    height: 100px;
    background-color: wheat;
    
}
.first{
    display: inline-block;
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 0px 70px 0px 70px;
    font-size: 1pc;
    font-weight: bold;
}
.Second{
    display: inline-block;
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 0px 70px 0px 70px;
    font-size: 1pc;
    font-weight: bold;
}
.Third{
    display: inline-block;
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 0px 70px 0px 70px;
    font-size: 1pc;
    font-weight: bold;

}
.Fourth{
    display: inline-block;
    text-align: center;
    margin: 20px 10px 20px 10px;
    padding: 0px 70px 0px 70px;
    font-size: 1pc;
    font-weight: bold;

}
